@model bright_ideas.Models.Idea

@{
    ViewData["Title"] = "Idea Factory";
}
<link rel="stylesheet" href="~/css/dashboard_style.css"/>
<div class="container">
    <div class="topbar">
        <div class="row">
            <div class="col-md-10">
                <h2>Hi @ViewBag.user.name!</h2>
            </div>
            <div class="col-md-2">
                <a href="/logout"><button>Logout</button></a>
            </div>
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
            <form asp-controller="User" asp-action="Create" method="post">
                <textarea rows="1" cols ="50" input asp-for="idea"></textarea>   
                <button type="Submit">Idea!</button>
                <div asp-validation-summary="All"></div>
            </form>
        <br><br>
    </div>
    <div class="row justify-content-center">
        <div class="col-13">
        @foreach(var idea in @ViewBag.ideas) 
        {
                <h4><a href="/users/@idea.CreatorId">@idea.Creator.name </a> says</h4>
                <h2 class="idea">@idea.idea</h2>
                <span class="like"><a href="like/@idea.IdeaId">Like</a></span> <a href="unlike/@idea.IdeaId">Unlike</a>
                <br>
                @if(@idea.Likes.Count == 1) 
                {
                    <a href="bright_ideas/@idea.IdeaId">              @idea.Likes.Count person</a><span class="idea_likes">likes this</span>
                }
                else 
                {
                    <span class="idea_likes2"><a href="bright_ideas/@idea.IdeaId">              @idea.Likes.Count people</a> like this</span>
                }
                <div class="row justify-content-end">
                    @if(@idea.CreatorId == @ViewBag.user.UserId) 
                    {
                        <h5 class="delete"><a href="delete/@idea.IdeaId">Delete</a></h5>
            
                    }
                </div>
                <br><br>
        }
        </div>
    </div>
</div>