@model bright_ideas.Models.User

@{
    ViewData["Title"] = "Idea";
}

<div class="container">
    <div class="row">
        <div class="col-md-9">
        </div>
        <div class="col-md-3">
            <a href="/bright_ideas">Bright Ideas</a>
            <a href="/logout">Logout</a>
        </div>
    </div> 
    <h2>Name: @ViewBag.user.name</h2>
    <h2>Alias: @ViewBag.user.alias</h2>
    <h2>Email: @ViewBag.user.email</h2>
    <br><br>
    <hr>
    @foreach (var idea in @ViewBag.likes) 
    {
        <h2>Total Number of Posts: @idea.Ideas.Count</h2>
        <h2>Total Number of Likes: @idea.Likes.Count</h2>
    }
</div>